*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(218, 215, 198, 0.493);
    text-align: center;
}
.content{
    background-color:#fff ;
    width: 950px;
    height: 100px;
    text-align: center;
    padding-left: 50px;
 
}
